@import './base.css';

#app {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/*damit sich die elemente beim Bildschirm verschmälern nicht verschieben,
sondern immernoch zentriert bleiben*/
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }

